@model Ratings2_2.Models.RatingObj

@{
	ViewData["Title"] = "Create";
}
<div class="row">
	<div class="col-md-4 mb-3">
		<p id='Createfont'>Create</p>
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label form-fields form-label"></label>
				<input asp-for="Name" class="form-control input-field" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Rate" class="control-label form-fields form-label"></label>
				<input asp-for="Rate" class="form-control" />
				<span asp-validation-for="Rate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label form-fields form-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
		<div>
			<a asp-action="Index">Back to rate list</a>
		</div>
	</div>
</div>


@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<link rel="stylesheet" href="~/css/Create.css" />
}
